body {
    background-color: black;
}

button:hover {
    background-color: #191919;
    border-color: #191919;
    color: white;
}
  
button:active {
    background-color: #191919;
    border-color: #191919;
    color: white;
}

p {
    color: white;
}

.theme-panel {
    background-color: black;
    color: white;
}

.theme-panel-secondary {
    background-color: #191919;
    color: white;
}

::-webkit-scrollbar {
    width: 3px;
    background-color:white;
} 
::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-right-style: solid;
    border-right-color:black;
    border-right-width: 1px;
}

.divider-border-color {
    border-color: #898989;
}

.text-primary {
    color: white;
}
.text-secondary {
    color: #a3a3a3
}
.text-inverted {
    color: black;
}